<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <!--Carga de contenido CSS para los estilos-->
        <link rel="stylesheet" href="./assets/Base.css" type="text/css">

    </head>
    <body>

        <header id="main-header">
            <h1>Planta x...</h1>
            <ul class="types">
                <li class="h-item">
                    <a class="active" href="#">general</a>
                </li>
                <li class="h-item">
                    <a class="" href="#">especifica</a>
                </li>
                <li class="h-item">
                    <a class="" href="#">detallada</a>
                </li>
            </ul>
        </header>
        <nav>
            navbar?
        </nav>
        <div>
            aqui va react
        </div>
        <h1>{{.Title}}</h1>

        <h3>{{.Author}}</h3>
        <footer>
            <p>footer</p>
        </footer>
    </body>
<script>
alert("hola")

    </script>
</html>
